<errors ng-if="errors"></errors>
<div class="field">
  <label for="title">Title</label><br>
  <input type="text" id="title" ng-model="report.title" />
</div>
<div class="field">
  <label for="body">Body</label><br>
  <textarea rows="4" cols="50" ng-model="report.description"></textarea>
  <div ng-repeat="category in categories">
    <input type="radio" name="report" value="{{category.id}}" ng-model="report.category_id"> {{ category.name }}
  </div>
</div>
<div class="actions">
  <button class="btn btn-primary" ng-click="submit()">
    Submit
  </button>
</div>