<div class="report hero-unit">
  <div class="well well-small pull-right author">
    <p>
      "Created before {{report.created_at}} by {{report.user.name}}" 
    </p>
  </div>
  <div class="report-data">
    <h1> {{ report.title }} </h1>
    <div class="text"> {{ report.description }} </div>
  </div>

  <div class="pictures">
    <a class="btn btn-inverse btn-large" href="/reports/{{report.id}}/pictures"> Gallery </a>
  </div>

  <div class="controls btn-group pull-right">
    <span  ng-show="report.can_edit">
      <a class="btn btn-mini" href="#/reports/{{report.id}}/edit">edit</a>
    </span>
    <span  ng-show="report.can_destroy">
      <button data-confirm="Are you sure?"  ng-click="delete(report.id)" class="btn btn-mini">delete</button>
    </span>
  </div>
</div>

<!-- <br>
<br>
<br>
<hr>
<hr>
<hr>

<div class="fb-send" data-href="http://localhost:3000/reports/{{report.id}}" data-colorscheme="dark"> </div>

<hr>

<div class="fb-like" data-href="http://localhost:3000/reports/{{report.id}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"> </div>

<hr>
<hr>
<hr>

<div class="fb-comments" data-href="http://localhost:3000/reports/{{report.id}}" data-numposts="5" data-colorscheme="light"> </div>

 -->
<div id="comments" ng-controller="Comments">
   <div ng-repeat="comment in comments">
    <div class="well">
      <div ng-show="comment.edit_mode" id="form-comment{{comment.id}}">
        <input type="text" ng-model="comment.text">
        <button ng-click="update_comment($index)" class="btn btn-inverse"> Update comment </button>
      </div>
      <div ng-hide="comment.edit_mode" id="comment{{comment.id}}">
        <p class="info pull-right"> 
          "Created at {{ comment.created_at }} by {{ comment.author_name}}"
          <span ng-show="comment.updated">
            "Updated at {{ comment.updated_at }}"
          </span>
        </p>
        <p class="text"> 
          {{ comment.text }}
        </p> 
        <div class="actions controls btn-group pull-right">
            <span  ng-show="comment.can_edit">
              <button ng-click="edit_comment($index)" class="btn btn-mini">edit</button>
            </span>
            <span  ng-show="comment.can_destroy">
              <button ng-click="delete_comment($index, comment.id)" class="btn btn-mini">delete</button>
            </span>
        </div>
      </div>
    </div>
    <hr>
   </div>
    <div ng-show="!!currentUser || !!current_user">
      <button id="add_comment" class="btn btn-large"><i class="icon-comment">Add Comment </i></button>
    </div>
    <div id="new-comment" class="invisible">
      <div class="comment-form">
        <input type="text" ng-model="new_comment.text">
        <button ng-click="add_comment()" class="btn btn-inverse"> Create comment </button>
      </div>
    </div>
</div>

