<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="brand" href="/">Home</a>
<div class="nav-collapse collapse">
  <p class="navbar-text pull-right">
    <fb:login-button show-faces="true" width="200" max-rows="1" scope="email, publish_stream, publish_actions"></fb:login-button>
    <% if user_signed_in? %>
      <input type="button" value="Logout" onclick="FB.logout();">
    <% end %>
  </p>
  <ul class="nav navbar-nav">
      <li>
        <%= link_to "Categories", categories_path %>
      </li>
    <% if user_signed_in? %>
    <li>
      <%= link_to 'Profile', account_path %>
    </li>
    <% end %>
  </ul>
</div><!--/.nav-collapse -->