<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="brand" href="/">Home</a>
<div class="nav-collapse collapse">
  <p class="navbar-text pull-right">
    <div class="logged-info pull-right">
      <div ng-init="current_user = <%= current_user.to_json %>;"> </div>
      <div ng-include="'<%= asset_path("app/templates/account/login-bar.html") %>'"> </div>
    </div>
  </p>
</div><!--/.nav-collapse -->